.container {
  background-image: url("/images/herobackground.svg");
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-size: cover;
  padding-top: 50px;
  padding-left: 270px;
  padding-bottom: 380px;
}

.container h1 {
  color: var(--white);
}
.container p {
  color: var(--white);
  line-height: 0.8rem;
  font-size: 1.4rem;
}

.btn {
  background: var(--lightGreen);
  border-radius: 35px;
  color: white;
  padding: 15px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 10px 2px;
  cursor: pointer;
  min-width: 200px;
  box-shadow: var(--shadow-4);
  transition: 0.3s ease-in-out box-shadow;
}
