.container {
  background-image: url("/images/herobackground.svg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background-size: cover;
  padding-bottom: 380px;
  margin: 0 auto;
}

.container h1 {
  color: var(--white);
  text-align: center;
  letter-spacing: 0.05em;
  margin-top: 8px;
  font-size: 5.052rem;
  line-height: 3.5rem;
}

.codText {
  font-size: 1rem;
  color: var(--lightYellow);
}

.img img {
  width: 150px;
  height: 150px;
}
