.container {
  --textColor: var(--white);
  --hColor: var(--white);
  --linkColor: var(--white);
  position: relative;
  padding-top: 110px;
  padding-bottom: 100px;
  background-size: cover;
  background-image: url("/images/footer.svg");

  color: var(--white);
}
.image {
  width: 80px;
  height: 80px;
}
.grid {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr;
  gap: 20px;
}
.grid h5 {
  letter-spacing: 0.1em;
}

@media screen and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .box {
    text-align: center;
  }
  .nordevo {
    text-align: center;
  }
  .box p {
    font-size: 0.9rem;
    margin: 0 auto;
  }
  .box {
    text-align: center;
  }
  .nordevo a {
    font-size: 0.9rem;
  }
  .box li {
    font-size: 0.9rem;
  }
}
