.container {
  padding: 30px 0 100px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.title > p {
  text-align: center;
  padding: 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;

  height: 330px;
  width: 300px;
  box-shadow: var(--shadow-4);
}
.card > h4 {
  color: var(--grey);
}
.postLink h5 {
  line-height: 0.1;
  margin: 30px 3px;
}

.postLink a {
  display: inline-block;
  position: relative;
  color: #772ce8;
  text-decoration: none;
  transition: none;
  width: 100px;
  height: 60px;
  text-align: center;
}

.postLink a:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 0;
  height: 0;
  background: transparent;
  /*   border: 2px solid #262626; */
  border: 2px solid transparent;
  animation: animate-border 4s linear forwards infinite;
}

@keyframes animate-border {
  0% {
    width: 0;
    height: 0;
    /*     border: 2px solid transparent; */
    border-top-color: #772ce8;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  50% {
    width: 100%;
    height: 0;
    /*     border: 2px solid #262626; */
    border-top-color: #772ce8;
    border-right-color: #772ce8;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    width: 100%;
    height: 100%;
    /*     border: 2px solid #262626; */
    border-top-color: #772ce8;
    border-right-color: #772ce8;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

/*****************************/

.postLink a:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  /*   width: 100%;
  height: 100%; */
  width: 0;
  height: 0;
  background: transparent;
  /*   border: 2px solid #262626; */
  border: 2px solid transparent;
  animation: animate-border-2 4s linear forwards infinite;
  animation-delay: 4s;
}

@keyframes animate-border-2 {
  0% {
    width: 0;
    height: 0;
    /*     border: 2px solid transparent; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #772ce8;
  }
  50% {
    width: 0;
    height: 100%;
    /*     border: 2px solid #262626; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #772ce8;
    border-left-color: #772ce8;
  }
  100% {
    width: 100%;
    height: 100%;
    /*     border: 2px solid #262626; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #772ce8;
    border-left-color: #772ce8;
  }
}
.card img {
  object-fit: cover;
  width: 330px;
  height: 330px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    justify-content: center;
    gap: 5px;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    height: 220px;
    width: 220px;
    box-shadow: var(--shadow-4);
    text-align: center;
  }
  .card h4 {
    font-size: 1em;
  }
  .title p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: 240px;
    gap: 5px;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    height: 240px;
    width: 240px;
    box-shadow: var(--shadow-4);
    text-align: center;
  }
}
