.container {
  padding: 60px 0 100px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.title > p {
  text-align: center;
  padding: 10px 0;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;

  height: 330px;
  width: 300px;
  box-shadow: var(--shadow-4);
}
.card > h4 {
  color: var(--grey);
}
.postLink > h5 {
  line-height: 0.1;
}

.postLink {
  display: inline-block;
  color: #772ce8;
  text-decoration: none;
  transition: none;
}
.postLink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #772ce8;
  transition: width 0.3s;
}
.postLink:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.image {
  border-radius: 10px;
}
