.container {
  padding: 100px 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title > p {
  text-align: center;
  padding: 20px 0;
}

.grid {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 30px;
  justify-content: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 10px;
  height: 400px;
  box-shadow: var(--shadow-4);
  padding: 20px;
}
