.container {
  margin-top: 30px;
  margin-bottom: 250px;
  position: relative;
  background: var(--white);
  padding: 40px 0;
}
.container::after {
  position: absolute;
  content: "";
  background-image: url("/images/vector-white.svg");

  background-size: cover;
  min-height: 260px;
  bottom: -212px;
  left: 0;
  right: 0;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 60px;
  justify-content: center;
}
.postContainer {
  display: flex;
}
